/* html {
    font-size: 62.5%;
} */

/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

* {
    margin: 0;
    padding: 0;
}

.body {
    background: url('img/bg.jpg');
    height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gametitle {
    cursor: pointer;
    position: absolute;
    left: 2rem;
    font-size: 3.5rem;
    color: #ff6e6e;
    /* border: .2rem solid black; */
    font-family: 'Rubik Bubbles', cursive;
}

.gametitle h1 {
    color: transparent;
    -webkit-text-stroke: .1rem rgb(255, 107, 235);
    background: url(img/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 10s linear infinite;
}

.gametitle_1 {
    margin-left: .6rem;
}

.gametitle_3 {
    margin-left: 2rem;
}

@keyframes back {
    100% {
        background-position: 200rem 0;
    }
}

#scoreBox {
    cursor: pointer;
    position: absolute;
    top: 4rem;
    right: 12.2rem;
    font-size: 1.9rem;
    font-family: 'Rubik Bubbles', cursive;
}

#hiscoreBox {
    cursor: pointer;
    position: absolute;
    top: 7rem;
    right: 10rem;
    font-size: 1.9rem;
    font-family: 'Rubik Bubbles', cursive;
}

#board {
    background: linear-gradient(#a5f6a5, #e8e865);
    width: 90vh;
    height: 90vh;
    border: .2rem solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head {
    cursor: pointer;
    background: linear-gradient(red, yellow);
    border: .2rem solid purple;
    border-radius: .5rem;
    transform: scale(1.02);
}

.snake {
    cursor: pointer;
    background-color: purple;
    border: .1rem solid white;
    border-radius: .5rem;
}

.food {
    cursor: pointer;
    /* background: linear-gradient(red, purple); */
    /* border: .2rem solid black; */
    /* border-radius: 2rem;  */
}

/* ******************** Responsive ************************** */

/* @media(max-width:998px) {
    html {
        font-size: 55%;
    }

}

@media(max-width:768px) {
    html {
        font-size: 45%;
    }
} */

@media(max-width:668px) {
    html {
        font-size: 35%;
    }

    .body {
        background: url('img/bg_2.webp');
    }

    #scoreBox {
        position: absolute;
        top: 140rem;
        right: 35rem;
    }

    #hiscoreBox {
        position: absolute;
        top: 140rem;
        right: 5rem;
    }

    #board {
        width: 90vh;
        height: 90vh;
        display: grid;
        grid-template-rows: repeat(16, 1fr);
        grid-template-columns: repeat(8, 1fr);
    }

    .head {
        border: .2rem solid purple;
        /* border-radius: 9rem; */
        transform: scale(1.02);
    }

    .snake {
        border: .1rem solid white;
        /* border-radius: 1.2rem; */
    }

    .food {
        border: .2rem solid black;
        /* border-radius: 2rem; */
    }
}